*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Pirata One', cursive;
    font-size: 30px;
}

.title {
    display:none;
}

.container{
    display: grid;
    margin:20px;
}

.header{
    background: repeating-linear-gradient(
        90deg,
        #724832 0 40px,
        #6C4936 40px 80px
    );   
    padding: 60px;
    text-align: center;
}

.header h1{
    font-size: 120px;
    font-family: 'UnifrakturMaguntia', cursive; 
}

.box h2 {
    font-size: 40px;
    color: #99224E;
    padding-bottom: 20px;
}

.row {
    width: 100%;
    height: 20px;
    background: repeating-linear-gradient(
        90deg,
        #724832 0 40px,
        white 40px 80px
    );
}

.container_content {
    background-image: url("background.png");
    background-position: right;
    background-repeat: repeat-y;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.line_container {
    display: flex;
    flex: row;
    align-self: center;
}

.line {
  width: 100px;
  height: 0;
  border: 1px solid #A58473;
  margin: 3px;
  display: inline-block;
}

.decor {
    width: 90px;
    height: auto;
    margin-bottom: 20px;
}

.menu{
    background-color: #DEAB90;
    padding: 20px;
    display: flex;
    align-items: center; 
    flex-direction: column;
    flex: 25%;
    margin-right: 20px;
}

.menu a{
    background: #F5CEB9;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    transition: 0.3s;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    border-radius: 999px;
    color: black;
}

.menu a:hover{
    background: #A58473;
    color:white;
}

.content {
    display: grid;
    grid-template-columns: auto;
    flex: 75%;
    margin-left: 20px;
}

.box {
    background-color: white;
    border: 3px solid #99224E;
    margin: 20px;
    padding: 30px;
}

.box img {
    border: 1px solid black;
    max-width: 600px;
    height: auto;
}

.order-form {
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ddd;
  font-family: Arial, sans-serif;

}

.order-form label {
  font-size: 14px;
  font-weight: 600;
}

.order-form input[type="text"],
.order-form input[type="tel"],
.order-form input[type="mail"] {
  width: 100%;
  padding: 8px;
  margin: 6px;
  border: 1px solid black;
  border-radius: 4px;
}

.order-form input[type="button"] {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  color:white;
  background: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.order-form input[type="button"]:hover {
  background: #444;
}

.order-form .price {
  margin: 10px 0 15px;
  font-size: 16px;
}

p {
    margin: 10px 0;
    font-size: 15px;
    font-family: sans-serif;
}

ul {
    margin: 8px 0 15px 20px;
    font-size: 15px;
    font-family: sans-serif;
}

ul ul {
    margin-top: 5px;
    font-size: 15px;
    font-family: sans-serif;
}

li {
  margin-bottom: 4px;
  font-size: 15px;
  font-family: sans-serif;
}

h3 {
    font-size: 30px;
    margin-left: 40px;
}